@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
html{
    scroll-behavior: smooth;
    
}
.main{
    display:flexbox;
}

.content{
    width: 100%;
    background-color: rgb(50, 47, 88);
    margin-left: 0px;
    float:left ;
    color: white;
    position: absolute;
    word-spacing: 1px;
}
#btn-acord{
    margin-left: 1em;
    margin-top: 1em;
}
.head{
    padding-left: 20px;
    background-color: rgb(189, 35, 81);
    font-family: 'Open Sans', sans-serif;
}
h5{
    float: right;
    margin-right: 30px;
    color: rgb(185, 159, 109);
}
p{
    font-family: 'Montserrat', sans-serif;
}
td{
    text-align: center;color: white;
}
th{
    text-align: center;color: white;

}